* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

/*===================
*
* Font Styles
*
=====================*/

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #343535;
  text-align: center;
}

h1 {
  font-family: 'Kaushan Script', cursive;
  color: #1089dc;
}

/*===================
*
* Spacings
*
=====================*/

header {
	padding-top: 50px;
}

.fortune-teller {
	padding-bottom: 100px;
}

/*===================
*
* Squares
*
=====================*/

.fortune-block {
	margin: 0 50px;
}

h3 {
	width: 200px;
	padding: 20px 0;
  margin: 0 auto;
	background-color: #1089dc;
	color: #ffffff;
	transition: background-color color 1000ms;
}

img {
	padding: 60px 0 10px 0;
}

#layer-one img {
  height: 130px;
}

#layer-three img,
#layer-two img {
	height: 50px;
}

/*===================
*
* Mobile Responsiveness
*
=====================*/

/* ----------------- START 1100PX MEDIA QUERY ----------------- */

@media (min-width: 1100px) {

.fortune-teller {
  display: flex;
  justify-content: center;
}

}

/* ----------------- END 1100PX MEDIA QUERY ----------------- */

/*===================
*
* Fortune Actions
*
=====================*/

/* Change Color */

.button-flash {
	color: #1089dc;
	background-color: #ffffff;
	transition: background-color color 1000ms;
}

/* Change Layer */

.hide {
	display: none;
}
